<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title %></title>
  <%= stylesheet_link_tag "application" %>
</head>

<body>
  <%= partial "layouts/shared/navbar" %>
  <%= yield %>
  <%= partial "layouts/shared/footer" %>
  <%= javascript_include_tag "bundle" %>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/parallax-theme/assets/wow.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js"></script>
</body>

</html>
